@model IEnumerable<task4.Models.UserViewModel>

@{
    ViewData["Title"] = "User Table";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">User Table</h2>
    <form id="userForm">
        @Html.AntiForgeryToken()
        <div class="mb-3 d-flex align-items-center">
            <button id="blockButton" class="btn btn-primary mr-2" type="button" title="Block selected users">
                <i class="fas fa-lock"></i> Block
            </button>
            <button id="unblockButton" class="btn btn-primary mr-2" type="button" title="Unblock selected users">
                <i class="fas fa-lock-open"></i>
            </button>
            <button id="deleteButton" class="btn btn-danger mr-2" type="button" title="Delete selected users">
                <i class="fas fa-trash"></i>
            </button>
            <div id="errorMessage" style="color: red; display: none;">Please select at least one user.</div>
            <div id="successMessage" style="color: green; display: none;"></div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="bg-dark text-white">
                    <tr>
                        <th><input type="checkbox" id="selectAll" title="Select all users" /></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th class="w-25">Status</th>
                        <th class="w-25">Last Login</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td><input type="checkbox" class="userCheckbox" value="@user.Id" title="Select user @user.Name" /></td>
                            <td>@user.Name</td>
                            <td>@user.Email</td>
                            <td>@user.Status</td>
                            <td class="w-25">
                                @if (user.LastLogin.HasValue)
                                {
                                    <span class="timeago" datetime="@user.LastLogin.Value.ToString("o")"></span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/checkbox.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" crossorigin="anonymous"></script>
}